<footer class="footer">
    <p>Django inspired</p>
    <p>All rights reserved</p>
  </footer> 


 <style>
    .footer {
        position:relative;  /* Ensures the footer stays at the bottom */
        bottom: 0;         /* Positions it at the exact bottom */
        left: 0;           /* Positions it to the left edge */
        width: 100%;       /* Spans the entire width of the page */
        background-color: #F0F0F0; /* Set your desired background color */
        z-index: 5;        /* Ensures the footer stays on top of other content */
        padding: 1rem;     /* Adds some padding for content spacing */
      }
      p {
        font-weight: normal;
      }
 </style>