.thumbnail-image {
    width: 400px;
    height: 300px;
    margin: 0 auto;
    display: block; /* Ensure image behaves as a block-level element */
    
}

.table td,
.table th {
  vertical-align: middle; /* Adjust as needed: top, bottom, baseline */
  
}


  
  .table td button {
    margin: auto; /* Shorthand for 0 auto margins for centering */
  }





p {
    font-weight: bold;
}



.ct {
    width: 100%;
    display: flex; /* Enable flexbox layout */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Horizontally center child elements */
    
/* background-color: lightskyblue; */
    margin-right: 20px;
}





body .div-table{
    width: 100%;
    /* background-color: rgb(166, 31, 31); */
}

.container {
     display: flex; 
     justify-content: center; /* Horizontally center child elements */
  
    /* background-color: rgb(230, 236, 230); */
}